/* Ajustar tamaño de la imagen del perfil */
.profile-img {
    width: 200px;  /* Puedes ajustar el tamaño según lo necesites */
    height: 250px;  /* Mantiene la imagen cuadrada */
    border-radius: 10px;  /* Opcional: para bordes redondeados */
}

/* Estilo para las cajas de habilidades */
.skill-box {
    background-color: #f8f9fa;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    text-align: center;
}

/* Estilo para la sección de noticias */
.news-card {
    margin-bottom: 20px;
}

.news-card img {
    width: 100%;
    border-radius: 5px;
}
